* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {}

/* menu */

.header {}

.menu-items {
    background: #ffffff;
}

.menu-items>li {
    display: inline-block;
    padding: 20px;
    position: relative;
}

.menu-items a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #5b6369;
}

/* .menu-items a:hover {
    color: #c5002b;
} */

.submenu {
    position: absolute;
    background: white;
    width: 400px;
    list-style: none;
}

.pages-submenu {
    display: none;
    top: 100%;
    left: 0;
}

.level-2 {
    display: none;
    left: 100%;
    top: 0;
}

.level-3 {
    display: none;
    left: 100%;
    top: 0;
}

.menu-items>li:hover .pages-submenu {
    display: block;
}

ul li:hover > a{
    color: #c5002b;
    border-bottom: 2px solid #c5002b;
}

.pages-submenu>li:hover .level-2 {
    display: block;
}

.level-2>li:hover .level-3 {
    display: block;
}

.level-2:hover {

}

.submenu>li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.submenu>li a {
    display: block;
    font-size: 20px;
    border-bottom: 1px solid #5b6369;
    padding-bottom: 10px;
}

/* Content */

.content {
    height: 500px;
    background: #282828;
}