* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.smartphone {
    position: relative;
    width: 360px;
    /* border: 14px solid #7A7A7A; */
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.35), 80px 80px 150px rgba(0, 0, 0, 0.25);
}
.smartphone::before {
    content: "";
    position: absolute;
    width: 380px;
    left: -10px;
    top: -10px;
    height: 820px;
    background: #7A7A7A;
    z-index: -1;
    border-radius: 33px;
}
.top-status-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    background: #74b9ff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.mobile-camera {
    width: 18px;
    height: 18px;
    background: #949494;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-inner-camera {
    width: 12px;
    height: 12px;
    background: #7A7A7A;
    border-radius: 50%;
}

.volumn-btn {
    position: absolute;
    width: 3px;
    height: 100px;
    background: #7A7A7A;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    right: -13px;
    top: 12%;
}

.lock-btn {
    position: absolute;
    width: 3px;
    height: 50px;
    background: #7A7A7A;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    right: -13px;
    top: 30%;
}

.mobile-header {
    height: 56px;
    background: #0984e3;
}

.mobile-body {
    height: 638px;
    background: #81ecec;
}
.mobile-footer {
    height: 52px;
    background: #6c5ce7;
}
.bottom-nav-bar {
    height: 20px;
    background: #a29bfe;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}